{% extends '_base.html' %}

{% block title %}All users of {{app_name}}{% endblock title %}

{% block content %}

<div class="container mt-5">
    <h1>Users</h1>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Email</th>
            {% if request.user.is_staff %}
            <th>Edit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for i in users %}
        <tr>
            <td>{% if i.first_name %}{{ i.first_name }} {{ i.last_name}}{% else %} n/a{% endif %}</td>
            <td>{{ i.email }}</td>
            {% if request.user.is_staff %}
            <td><a href="{% url 'user_profile' i.url_short %}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}