@import 'vendor';

/* project variables */
$magellan-blue: #1f68bf;
$magellan-magenta: #d43256;
$magellan-yellow: #ffdf00;

$primary-color: $magellan-blue;
$secundary-color: $magellan-magenta;
$terciary-color: $magellan-yellow;


.section {
  margin-top: 6em;
  margin-bottom: 6em;
}

/* Navbar styles */

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 300%;
  font-weight: bold;
  color: $primary-color;
  margin-left: 80px;

  &:hover {
    color: darken($primary-color, 5%);
  }
}

.navbar {
  background-color: #fff;

  li {
    display: table-cell;
    position: relative;
    padding: 15px 0;

    a {
      color: #000;
      text-decoration: none;
      display: inline-block;
      padding: 15px 5px;
      position: relative;
    }

    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #000;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
  }

  .avatar {
    border: 3px solid $primary-color;
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
  }

  .avatar-btn {
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  .avatar-placeholder {
    background-color: #F0F0F0;
    display: inline-block;
    color: $primary-color;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
  }

  .dropdown {
    a {
      color: dimgrey;
    }
  }

  .btn-primary {
    box-shadow: none;
  }
}


/* Button styles */
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 15%);
    border-color: darken($primary-color, 15%);
  }
}

.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
  }
}

.btn-cta {
  box-shadow: 3px 5px 3px rgba(black, 0.5);
}


/* other base */

.main {
  min-height: 80vh;
}

.footer {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;

  .cr-line {
    margin-top: auto;
  }

  a {
    color: lighten(black, 10%);

    &:hover {
      color: lighten(black, 20%)
    }
  }
}

/* front page */

.header-home {
  padding: 8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.jumbo-home {
  height: 100%;
  padding: 1rem;
  color: white;

  h2 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}

.feature-section {
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

  h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    text-align: center;
  }

  .btn {
    font-size: 1.25rem;
    font-weight: bolder;
  }
}

.highlighter {
  background: linear-gradient(to bottom, transparent 65%, rgba($magellan-yellow, 0.75) 0) center center/10% 75% no-repeat;
  background-size: 100% 100%;
  padding: .5rem 1rem;
}


