{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Imprint</h1>

    <h2>Picture sources</h2>
    <ul>
        <li>
            <a href="https://www.pexels.com/photo/person-pointing-at-black-and-gray-film-camera-near-macbook-pro-1051075/"
               target="_blank">Homepage Photo by Element5 Digital from Pexels</a></li>
        <li>
            Favicon made by <a href="https://www.flaticon.com/authors/turkkub" title="turkkub">turkkub</a> from <a
                href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </li>
    </ul>
</div>

{%  endblock content %}